.live {

}
.wrap-echarts {
    width: 90%;
    padding: 10px 20px;
    min-width: 600px;
    margin: 50px auto 10px;
    background-color: #fff;
    border-radius: 5px;
}
.echarts-container {
    height: 700px;
}
.filter {
    overflow: hidden;
}
.filter .mr20 {
    margin-right: 20px;
}