.article-list {
    margin: 30px auto 0;
    width: 800px;
}
.empty-list{
    text-align: center;
    font-size: 24px;
    color:#1890ff;
}
.article-list .article-list-item {
    line-height: 24px;
    box-shadow: 0px 0px 6px #e3e3e3;
    background-color: #fff;
    padding:30px;
    margin-bottom: 30px;
    border-radius: 5px;
    position: relative;
}
.article-list .article-list-item h3 {
    font-size: 24px;
    color:#1890ff;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 20px;
}
.article-list-item-author span {
    display: inline-block;
}
.article-list-item-handle {
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 18px;
}
.article-list-item-handle i {
    padding: 5px;
    cursor: pointer;
}
.article-list-item-handle i:hover {
    color:#1890ff;
}
@media screen and (max-width: 800px) {
    .article-list {
        width: 96%;
    }
    .main .article-list .article-list-item {
        padding: 15px;
    }
    .main .article-list .article-list-item h3{
        font-size: 16px;
        margin-bottom: 1em;
    }
}