.left,
.left-menu,
.left-menu .ant-menu,
.left-menu .ant-menu-submenu > .ant-menu ,
.left-menu .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected
{
    background-color: #000;
}

.left,.left-menu .ant-menu-submenu-title {
    color:#00A8FF;
}
.left {
    padding-top: 200px;
}
.left-menu {
    height: 100%;
    overflow-y:auto;
    overflow-x: hidden;
}

.left .wrap-logo {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.ant-menu-submenu {
    position: relative;
}
.left .ant-menu-item  a{
    color:#686868;
}
.left .ant-menu-item {
    background-color: #000;
    border:none;
}
.left .ant-menu-sub {
    background-color: #000;
}
.left .ant-menu-item-active {
    color:#fff;
}
.left .ant-menu .ant-menu-item-selected{
    background-color: #000;
    color:#fff;
}
.left .ant-menu .ant-menu-item-selected a{
    background-color: #000;
    color:#fff;
}
.left .ant-menu .ant-menu-submenu-open::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    content:"";
    background-color: #fff;
    z-index: 2;
}
.left .logo {
    width: 100px;
    height: 100px;
    margin: 20px auto 5px;
    border-radius: 50%;
    overflow: hidden;
}
.left .logo img {
    width: 100%;
    height: 100%;
    display: block;
}
.left .name {
    margin: 20px auto 0;
    width: 60px;
}
.left .name img {
    width: 100%;
    display: block;
}
.left .ant-menu-inline{
    border:none;
}
.left .ant-menu-inline .ant-menu-item {
    width:calc(100%);
}
.left .description {
    padding-top: 5px;
    text-align: center;
    color:#686868;
}
.left-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    padding:8px;
    cursor: pointer;
    z-index: 1;
}