.edit-wrap {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 94%;
    margin: 0 auto;
}
.edit-wrap h3 {
    font-size: 16px;
    margin-bottom: 24px;
}
.CodeMirrorEditWrap .content{
    height: 550px;
    padding-bottom: 10px;
    position: relative;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius:5px;
    overflow: hidden;
    background-color: #fff;
}
.CodeMirrorEditWrap pre {
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
}
.CodeMirrorEditWrap .CodeMirror{
    width: 100%;
    height: 100%;
}
.CodeMirrorEditWrap .CodeMirror-gutter-elt {
    text-align: center;
}
.CodeMirrorEditWrap .CodeMirror-gutters {
    text-align: center;
    border-right:none;
    background-color: #fff;
}
.CodeMirrorEditWrap .CodeMirror-gutter{
    background-color: #fff;
}
#editor {
    width: 100%;
    height: 100%;
}

.form-select .select-label {
    position: absolute;
    top: 10px;
    left: 0;
}
.CodeMirrorEditWrap .ant-tabs-nav-scroll{
    background-color: #e8e8e8;
}
.CodeMirrorEditWrap .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    background-color: #e8e8e8;
    border:none;
    color:#333;
}
.CodeMirrorEditWrap .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    background-color: #fff;
    padding-bottom:3px;
    color:#1890ff;
}
.CodeMirrorEditWrap .CodeMirror-scroll {
    height:470px;
}
.CodeMirrorEditWrap .article-detail-content {
    padding:0 20px;
    height: 470px;
    overflow-y:auto;
}
.CodeMirrorEditWrap .article-detail {
    padding: 0;
}
.form-select .ant-form-item {
    margin-bottom: 15px;
}